version: '3'
services:
  vue:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    container_name: karakata
    environment:
      NODE_ENV: development
    volumes:
       - ./:/usr/app
    user: node
    command:
      - npm
      - run
      - nodemon
